In [50]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

In [76]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## Discussion 


1. What is a dataframe?


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [62]:
df.shape

(800, 13)

In [57]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [59]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [61]:
df.describe().round(1)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0
mean,362.8,435.1,69.3,79.0,73.8,72.8,71.9,68.3,3.3
std,208.3,120.0,25.5,32.5,31.2,32.7,27.8,29.1,1.7
min,1.0,180.0,1.0,5.0,5.0,10.0,20.0,5.0,1.0
25%,184.8,330.0,50.0,55.0,50.0,49.8,50.0,45.0,2.0
50%,364.5,450.0,65.0,75.0,70.0,65.0,70.0,65.0,3.0
75%,539.2,515.0,80.0,100.0,90.0,95.0,90.0,90.0,5.0
max,721.0,780.0,255.0,190.0,230.0,194.0,230.0,180.0,6.0

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [74]:
def highest_attack(df):
    return df.Attack.max()
highest_attack(df)

190

2. Which Pokemon possess(es) the highest HP value?

In [84]:
df[['Name', 'HP']].sort_values('HP', ascending=False).head(1)

        Name   HP
261  Blissey  255

3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [101]:
type_one = df['Type 1']
type_one.unique().size

18

4. Number of Pokemon whose Type 2 is Ghost

In [141]:
type_two = df['Type 2']
type_two.where(type_two == 'Ghost').value_counts()

Ghost    14
Name: Type 2, dtype: int64

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [147]:
type_two.value_counts(normalize =True).round(4)*100

Flying      23.43
Ground       8.45
Poison       8.21
Psychic      7.97
Fighting     6.28
Grass        6.04
Fairy        5.56
Steel        5.31
Dark         4.83
Dragon       4.35
Water        3.38
Ghost        3.38
Ice          3.38
Rock         3.38
Fire         2.90
Electric     1.45
Normal       0.97
Bug          0.72
Name: Type 2, dtype: float64

6. Number of Pokemon whose Attack is greater than Defense

8. Lowest speed for Grass or Rock

10. Change all the column names

      - lowercase letters
      - remove whitespace

11. Rename Sp. Attack to special-attack

12. Rename Sp. Def to special-defense

13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?

15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [5]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [7]:
speed = df.Speed
gen = df.Generation

In [41]:
df['avg_speed'] = df['Speed'].mean()

In [40]:
pd.pivot_table(data=df, index='Generation', columns='avg_speed').round(2)

,#,Attack,Defense,HP,Legendary,Sp. Atk,Sp. Def,Speed,Total
avg_speed,68.2775,68.2775,68.2775,68.2775,68.2775,68.2775,68.2775,68.2775,68.2775
Generation,,,,,,,,,
1,75.82,76.64,70.86,65.82,0.04,71.82,69.09,72.58,426.81
2,202.28,72.03,73.39,71.21,0.05,65.94,73.91,61.81,418.28
3,321.97,81.62,74.10,66.54,0.11,75.81,71.22,66.92,436.22
4,442.45,82.87,78.13,73.08,0.11,76.40,77.19,71.34,459.02
5,574.27,82.07,72.33,71.79,0.09,71.99,68.74,68.08,434.99
6,688.01,75.80,76.68,68.27,0.10,74.29,74.89,66.44,436.38